body {
  background-color: #fad121;
  background-repeat: no-repeat;
  color: #73263d;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

@media (min-width: 1280px) {
  body {
    font-size: 24px;
  }
}

.title {
  font-family: 'Bungee', sans-serif;
  font-size: 26px;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 1280px) {
  .title {
    font-size: 48px;
    letter-spacing: 15px;
    padding-top: 20px;
  }
}

.header {
  background: url(../images/bg-dininho.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 400px;
  width: 100%;
}

@media (min-width: 1280px) {
  .header {
    height: 720px;
  }
}

.logo {
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 70%;
}

@media (min-width: 768px) {
  .logo {
    width: 40%;
    top: 25%;
  }
}

.main-title {
  color: #fcfdfc;
  font-size: 28px;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 50px;
  padding: 40px 8px 0 8px;

  text-align: center;
  color: #fcfdfc;
  font-family: 'Bungee', sans-serif;
}

@media (min-width: 1280px) {
  .main-title {
    font-size: 50px;
    padding: 55px 8px 0 8px;
  }
}

.history {
  background: linear-gradient(180.58deg, #7e5002 0%, #e69405 50%, #fad121 100%);
  padding: 0 22px;
}

@media (min-width: 1280px) {
  .history-text {
    margin: 0 auto;
    max-width: 960px;
  }
}

.history-text {
  color: #ffffff;
  text-align: center;
}

@media (min-width: 1280px) {
  .history-text {
    line-height: 33px;
  }
}

.egg {
  background: url(../images/ovo1.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  height: 22px;
  width: 18px;
}

@media (min-width: 1280px) {
  .egg {
    background: url(../images/ovo1g.png);
    height: 43px;
    width: 35px;
  }
}

.basket-eggs {
  background: url(../images/ninho.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  height: 58px;
  width: 70px;
}

.separator {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@media (min-width: 1280px) {
  .separator {
    margin: 40px 0;
    padding: 0 170px;
  }
}

.separator::before,
.separator::after {
  background-color: #fff;
  border-radius: 5px;
  content: '';
  display: inline-block;
  height: 2px;
  width: 45%;
}

@media (min-width: 1280px) {
  .separator::before,
  .separator::after {
    height: 4px;
  }
}

.video {
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 1280px) {
  .video {
    display: block;
    margin: 0 auto;
    width: 90% !important;
  }
}

.play-button {
  align-items: center;
  background: url(/images/botao1.png);
  background-size: 100%;
  color: #faffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 20px auto;
  height: 50px;
  text-decoration: none;
  width: 196px;
}

@media (min-width: 1280px) {
  .play-button {
    font-size: 30px;
    height: 81px;
    width: 320px;
  }
}

.game-description {
  padding: 0 22px;
}

@media (min-width: 1280px) {
  .list-description {
    text-align: center;
    line-height: 33px;
    margin: 0 auto;
    padding-top: 40px;
    width: 960px;
  }
}

.list-description > li {
  color: #3d1132;
  margin-bottom: 10px;
}

@media (min-width: 1280px) {
  .list-description > li {
    margin-bottom: 20px;
  }
}

.requirements {
  padding: 0 22px;
}

@media (min-width: 1280px) {
  .requirements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.requirements > dl {
  color: #3d1132;
}

@media (min-width: 1280px) {
  .requirements > dl {
    line-height: 33px;
    margin-top: 40px;
  }
}

footer {
  padding-bottom: 50px;
}

footer > p {
  color: #050914;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
}

.social > li:not(:last-child) {
  margin-right: 50px;
}

.icon {
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
}

.icon[href*='twitch'] {
  background-image: url(../images/twitch.svg);
}

.icon[href*='twitter'] {
  background-image: url(../images/twitter.svg);
}

.icon[href*='discord'] {
  background-image: url(../images/discord.svg);
}
