body {
  background-color: #fad121;
  background-repeat: no-repeat;
  color: #73263d;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.header {
  background: url(../images/bg-dininho.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.logo {
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 70%;
}

.main-title {
  color: #fcfdfc;
  font-size: 28px;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 50px;
  padding: 40px 8px 0 8px;

  text-align: center;
  color: #fcfdfc;
  font-family: 'Bungee', sans-serif;
}

.history {
  background: linear-gradient(
    180.58deg,
    #7e5002 25.7%,
    #e69405 90%,
    #fad121 98.65%
  );
  padding: 0 22px;
}

.history-text {
  font-size: 15px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.egg {
  background: url(../images/ovo1.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  height: 22px;
  width: 18px;
}

.separator {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.separator::before,
.separator::after {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
  content: '';
  display: inline-block;
  height: 2px;
  width: 45%;
}

.play-game {
}

.video {
  width: 100% !important;
  height: auto !important;
}

.play-button {
  align-items: center;
  background: url(/images/botao1.png);
  background-size: 100%;
  color: #faffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 20px auto;
  height: 50px;
  text-decoration: none;
  width: 196px;
}

.game-description {
  padding: 0 22px;
}

.title-description {
  font-family: 'Bungee', sans-serif;
  font-size: 26px;
  padding-bottom: 20px;
  text-align: center;
}

.list-description > li {
  color: #3d1132;
  margin-bottom: 10px;
}
